body {
    margin: 0px;
    font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section#profile_cover {
	height: 200px;
    margin: 0px;
	background: radial-gradient(ellipse, #016cbe, #01266c), #01266c;
    padding: 125px 30% 0 30%;
    text-align: right;
}

img.profile_cover {
    height: 150px;
    width: 150px;
    float: left;
}

h1.profile_cover {
    font-size: 2em;
    margin: 50px 0 0 50px;
}

